# Flutter/Dart
.Dart_tool/
.pub/
build/
*.lock
*.pid
*.swp
.sass-cache/
connect.lock/
*.dart.js
*.part.js
*.js.deps
*.js.map
*.old.js

# Android
android/local.properties
android/app/.cxx/
android/app/build/
android/.gradle/

# iOS
ios/Flutter/App.framework/
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Podfile.lock
ios/Pods/

# Web
web/index.html
web/favicon.png
web/manifest.json
web/icons/

# VS Code
.vscode/

# Android Studio
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store
*.swp
*~.nib

# Coverage
coverage/
